<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"> <!-- CSSファイルを読み込む -->
    <style>
        .centered-text{
            text-align:center;
        }
    </style>

</head>
<body>
    <h1>幼児画の年齢推定 ログイン</h1>
    <form method="POST" action="/login">
        <label for="username">ユーザー名:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">ログイン</button>
    </form>

    <!-- ユーザー登録へのリンクを追加 -->
    <div class="centered-text">
        <p>アカウントをお持ちでない場合：<a href="{{ url_for('register') }}">ユーザー登録</a></p>
    </div>
</body>
</html>